.today {
    width: 20%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.today__informations {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.today__img {
    width: 200px;
    height: auto;
}

.today__date {
    font-size: 24px;
}
