html {
    background: no-repeat center/100% url('road.jpg');
}

.tile {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.days {
    display: flex;
    flex-direction: column;
    position: relative;
}

.toDay {
    height: 300px;
}

.nextdays {
    position: absolute;
    left: 1%;
    top: 250px;
    width: 100%
}

